.hwt-cmdlink {
  text-transform: uppercase;
  cursor: pointer;
}
.hwt-cmdlink:hover {
    text-decoration: underline;
}
.hwt-btn:hover {
  background-color: #2F9CC8;
  color: #000;
}
.hwt-btn::before {
  content: '[ ';
}
.hwt-btn::after {
  content: ' ]';
}