.hwt-cmdlink, .hwt-btn {
  cursor: pointer;
  font-family: inherit;
  background: inherit;
  color: inherit;
  border: inherit;
  font-size: inherit;
}
.hwt-cmdlink:hover {
  text-decoration: underline;
}
.hwt-btn.hwt-cmdlink {
  text-decoration: none!important;
}
.hwt-btn {
  text-transform: uppercase;
}
.hwt-btn:hover {
  background-color: #2F9CC8;
  color: #000;
}
.hwt-btn::before {
  content: '[ ';
}
.hwt-btn::after {
  content: ' ]';
}
.hwt-login-form input {
  outline: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  color: #5FBFFF;
  border: 0;
  background: transparent;
  overflow: hidden;
  width: calc(100% - 100px);
}
.hwt-login-form label {
  width: 90px;
  display: inline-block;
}
.hwt-guest .hwt-members-only, .hwt-guests-only {
  display: none;
}
.hwt-guest .hwt-guests-only {
  display: initial;
}
.hwt-btn:focus, .hwt-cmdlink:focus {
  outline: #5fbfff;
  outline-width: thin;
  outline-style: dotted;
}
.hwt-btn:active::before {
  content: ' [';
}
.hwt-btn:active::after {
  content: '] ';
}

#hwt-posting-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 960px;
}
.hwt-reply-button-wrapper {
  width: 100px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.hwt-textarea-wrapper {
  flex-grow: 1;
}
.hwt-msg-area {
  max-height: 50vh;
  resize: none;
}
.hwt-txt-input {
  box-sizing: border-box;
  position: relative;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  padding: 0;
}
.hwt-textarea-wrapper .hwt-txt-input {
  width: 100%;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

.hwt-txt-input, 
.hwt-textarea-border {
  font-family: inherit;
  font-size: 11pt;
  line-height: 1.3em;
}
.hwt-textarea-border {
  position: absolute;
  user-select: none;
}
.hwt-txt-input::placeholder {
  color: inherit;
  opacity: .5;
}
.show-topic-form {
  max-width: 500px;
  text-align: center;
}

.hwt-blurred {
  pointer-events: none;
}
.hwt-blurred #scrollTest {
  filter: blur(2px);
  transform: scale(1.1);
  opacity: 0;
  transition: filter .5s, transform .5s, opacity .5s;
}
.hwt-loading-animation {
  position: absolute;
  color: #5fbfff;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.3ch;
  font-size: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
}
.hwt-blurred .hwt-loading-animation {
  opacity: 1;
  transition: opacity .4s .1s;
}

.hwt-post-highlight {
  filter: hue-rotate(30deg) brightness(1.5);
}
.post {
  transition: filter .2s;
}
.hwt-post-menu {
  opacity: 0;
  visibility: hidden;
}
.post:hover .hwt-post-menu {
  visibility: visible;
  opacity: 1;
}
.hwt-deleted {
  filter: hue-rotate(150deg) brightness(0.5);
}
.post-code {
  cursor: pointer
}

.hwt-post-pinned {
  background: rgb(95 191 255 / 14%);
  box-shadow: 0 0 0 5px rgb(95 191 255 / 14%);
}

@media (max-width: 910px) {
  .hwt-logo {
    font-size: 1.5vw;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .hwt-logo {
    font-size: inherit;
  }
}
@media (max-width: 680px) {
  .hwt-logo {
    font-size: 2vw;
    line-height: normal;
  }
}
@media (max-width: 440px) {
  .hwt-logo {
    font-size: 1.8vw;
  }
}